.event {
  position: absolute;
  width: 80%;
  background-color: cornflowerblue;
  z-index: 1;
  border-radius: 8px;
  padding: 8px;
  color: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0);

  &__delete-btn {
    cursor: pointer;
    border: none;
    position: absolute;
    right: 0;
    display: block;
    border-radius: 3px;
    font-size: 14px;
    border: none;
    background-color: #810909;
    color: #fff;
    margin: 0 0 0 auto;
    cursor: pointer;
    z-index: 9;
    top: 0;

    &:hover {
      background-color: #ee637a;
    }
  }

  &__title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 8px;
    border-bottom: 1px solid #fff;
  }

  &__description {
    display: block;
    white-space: normal;
    overflow: visible;
    margin-top: 10px;
  }

  &:hover {
    background-color: #3c69bd;
    display: block;
  }
}
