.header {
  display: flex;
  height: 60px;
  padding: 0 48px;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 3px solid #4a8be0;
}

.create-event-btn {
  padding: 0 16px;

  &__icon {
    margin-right: 8px;
  }
}
.button {
  background-color: #4a8be0;
  height: 40px;
  width: 100px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border: 1px solid #4a8be0;
}

.navigation {
  &__today-btn {
    margin-left: 32px;
    padding: 0 16px;
  }

  &__nav-icon {
    font-size: 16px;
    margin-left: 20px;
  }

  &__displayed-month {
    margin-left: 10px;
  }
}
